body{
    font-family: Raleway, cursive;
    text-transform: none !important;
    color: rgba(0,0,0,0.71)
}

header, footer{
  color: slategray;
}


header{
  font-family: 'Times New Roman', Times, serif;
}
section{
  padding: 30px;
}

.btn{
    text-transform: none !important;
}

.nav-wrapper{
  padding-left: 40px;
}
nav{
  background-color: #008080;
}
footer {
  text-align: center;
  position: absolute;
  bottom:0;
  width:100%;
}